fastapi==0.136.0
imbalanced-learn==0.14.1
joblib==1.5.1
matplotlib==3.10.3
matplotlib-inline==0.1.7
numpy==2.3.1
optuna==4.8.0
pandas==2.3.0
pydantic==2.13.3
pydantic_core==2.46.3
requests==2.32.4
scikit-learn==1.7.0
shap==0.51.0
streamlit==1.56.0
uvicorn==0.45.0
xgboost==3.2.0
joblib==1.5.1
